/* Para cuadrar todas las ventanas en el navegador */
/* To align all windows in the browser */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*ROOT SECTOR VARIABLE COLORS 
REFERENCE: https://developer.mozilla.org/es/docs/Web/CSS/Reference/Selectors/:root
Note: I see the code in the other webpages, I am a person curious, I search the anwser on how to use it.
I need to use the chatgtp  to know what colors to use, and how i can create it*/

:root {
  /*WALLPAPER*/
  --dark-bg: #0a0a0a;
  --dark-gray: #121212;
  --medium-gray: #1c1c1c;

  /*COLOURS*/
  --accent-red: #b22222;
  --accent-red-dark: #8b0000;
  --accent-orange: #d35400;

  /*TEXTS*/
  --text-light: #e0e0e0;
  --text-muted: #888888;
  --highlight: #f05555;
}


/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) { */

#main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-gray);
  color: var(--text-light);
  position: relative;
  z-index: 100;

  padding-top: 0px;
  align-items: flex-start
}



/* FONT ALL*/
.main-header-line-upper-log-text,
.main-header-line-lower-content-box {
  font: 400 15px / 1 "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* PARALLAX */
#parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.parallax-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.parallax-layer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/* BG WALLPAPER */
.layer-bg{
  mix-blend-mode: screen;
  opacity: 0.7;
  z-index: 1;
}

/* RAIN */
.layer-rain{
  mix-blend-mode: screen;
  opacity: 0.7;
  z-index: 4;
  pointer-events: none;
}

/* BATSIGNAL */
.layer-batsignal{
  width: auto;
  height: auto;
  left: 30px;
  top:20%;
  z-index: 2;
}

.layer-batsignal img{
  width: 250px;
  height: auto;
}

.layer-batman {
  width: auto;
  height: auto;
  left: -30vw;
  bottom: 0;
  z-index: 3;
  transition: transform 0.1s linear;
}

.layer-batman img {
  height: 90vh;
  width: auto;
  pointer-events: none;
}

/* MENU ICON */
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon i {
  font-size: 28px;
  color: var(--text-light);
}

.menu-links {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 9999;
  gap: 20px;
  flex-direction: column;
}



/*UPPER LINE CONTENT*/
.main-header-line-upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  border-bottom: 3px solid var(--accent-red);
  font-size: 0.8rem;
}

/*BLOCK LEFT: LOG IN | SIGN UP */
.main-header-line-upper-log {
  display: flex;
  align-items: center;
  flex-grow: 0;
  justify-content: flex-start;
  margin-left: 25%;
}

.main-header-line-upper-log-text a {
  color: var(--text-light);
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}


.main-header-line-lower a {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-light);
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 10px;
  transition: 0.2s ease;
}

.main-header-line-lower a:hover,
.main-header-line-upper-log-text a:hover {
  color: var(--highlight);
  transform: scale(1.06);
}

.main-header-line-upper-log-icon {
  margin-right: 5px;

}

.main-header-line-upper-log-text {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.main-header-line-upper-log-text-separator {
  margin: 0 15px;
  opacity: 1;
  font-weight: bold;
}

/* BLOCK CENTER: LOGO DC */
.main-header-line-upper-logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


/*BLOCK RIGTH: SEARCH*/
.main-header-line-upper-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30%;
  flex-grow: 0;
  gap: 10px;
}

.search-page {
  padding: 5px 10px;
  background-color: var(--medium-gray);
  color: var(--text-light);
  border: 1px solid var(--medium-gray);
  border-radius: 4px;
  width: 120px;
  font-size: 13px;
  flex-grow: 1;
}

.search-page::placeholder {
  color: #8899AA;
}

.search-page-submit {
  padding: 6px 14px;
  background-color: var(--accent-red);
  color: var(--dark-bg);
  border: 1px solid var(--accent-red-dark);
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s ease;
}

.search-page-submit:hover {
  background-color: var(--highlight);
  border-color: var(--accent-red);
  transform: scale(1.05);
  color: var(--text-light);
}

.search-page,
.search-page-submit {
  height: 32px;

}


/* LINE LOWER CONTENT*/
.main-header-line-lower-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-line-lower {
  width: 100%;
  background-color: var(--dark-gray);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.main-header-line-upper-log-text a {
  font-size: 15px;
  letter-spacing: 2px;
  padding: 0 25px;
}

/*-------------------------------------------------------------*/
/*------------------------ MAIN -------------------------------*/
/*-------------------------------------------------------------*/

#gotham-city {
  height: auto;
  background: url(../img/wallpaper/bg-gotham.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8b0000;
  position: relative;
  z-index: 0;

}

.container-rigth-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text-gotham {
  order: 1;
  color: var(--text-light);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  color: var(--highlight);
}

.text-gotham div {
  background-color: rgba(20, 20, 20, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.image-gotham {
  order: 2;
}

.image-gotham img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-gotham h2 {
  margin: 0 0 10px 0;
  font-size: 2rem;
}

.text-gotham p {
  margin: 0;
  font-size: 1rem;
  opacity: 0.8;
}

/* CARDS VILLAINS, SUPER AND COMICS */
#villains,
#supers,
#comics {
  flex: 1;
  overflow: visible;
  background-color: var(--dark-bg);
  padding: 50px 2px;
}

#villains .feature-characters-title,
#supers .feature-characters-title,
#comics .feature-characters-title {
  color: var(--highlight);

}

#comics .character-card {
  background-color: var(--dark-gray);
  border: 2px solid var(--accent-red-dark);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease;
}

#villains .character-card:hover,
#supers .character-card:hover,
#comics .character-card:hover {
  transform: scale(1.03);
  border-color: var(--accent-red);
  z-index: 10;
}

.content-images-main-character-grid-villain,
.content-images-main-character-grid-super,
.content-images-main-character-grid-comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;

}

.character-card {
  flex: 1 1 250px;
  max-width: 250px;
  height: 350px;
  background-color: var(--dark-bg);
  border: 2px solid var(--accent-red);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;

}

#supers .character-card,
#villains .character-card {
  background-color: var(--dark-bg);
  border: 2px solid var(--accent-red);
  border-radius: 10px;
  transition: 0.3s ease;
}


#supers .character-card:hover,
#villains .character-card:hover {
  transform: scale(1.03);
  border-color: var(--highlight);
}

#comics,
#villains,
#supers {
  flex: 1;
  height: auto;
  overflow: visible;
  background-color: var(--dark-bg);
  padding: 50px 0;
}


.content-images-main-character-flex-villain,
.content-images-main-character-flex-super {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  overflow: visible;
  height: 100%;
  box-sizing: border-box;
}

.content-images-main-character-flex-comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  overflow: visible;
  height: 100%;
  box-sizing: border-box;
}

#comics h2,
#villains h2,
#supers h2 {
  color: var(--text-light);
  padding-bottom: 2rem;
}


.character-card {
  background-color: var(--dark-gray);
  color: var(--text-light);
  border-radius: 10px;
  border: 2px solid var(--medium-gray);
  padding: 10px;
  transition: 0.3s ease;
  width: 250px;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0;
}

.character-info-box {
  margin-top: auto;
  padding: 15px 10px;
}


.character-card h2 {
  color: var(--text-light);
}

.character-name-secondary {
  color: var(--text-muted);
}

.character-card:hover {
  transform: scale(1.03);
  border-color: var(--highlight);
}


.character-image-container {
  width: 250px;
  height: 350px;
  overflow: hidden;
}

.character-image-container img {
  width: 250px;
  height: 350px;
  object-fit: cover;
}




/*-------------------------------------------------------------*/
/*----------------------------- FORM --------------------------*/
/*-------------------------------------------------------------*/
#commit-and-form-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;

}

/* EXPERIMENT BG */
#form-bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(120%) brightness(50%);
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}


#wallpaper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}



/* COMMITS */
.commit-img img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 10px;
}

#update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  border: 2px solid var(--accent-red-dark);
  border-radius: 2px;
  color: var(--text-light);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

#commit-and-form {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

#suggestions-list-container {
  max-width: 900px;
  margin: 20px auto;
}

.commit-card {
  width: 550px;
  flex-shrink: 0;

  border: 2px solid var(--accent-red);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  background-color: var(--dark-gray);
  box-shadow: 0 0 10px rgba(178, 34, 34, 0.4);
}

.commit-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-muted);
  padding-bottom: 8px;
  margin-bottom: 10px;
}

#form-suggestion-new-character-or-comics {
  flex: 1;
  max-width: 600px;
}


/* FROM */
#form-suggestion-new-character-or-comics {
  background-color: var(--medium-gray);
  padding: 40px 30px;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  color: var(--text-light);
  gap: 20px;
}

#form-suggestion-new-character-or-comics h2 {
  margin-bottom: 25px;
}

#form-suggestion-new-character-or-comics form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#form-suggestion-new-character-or-comics label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  color: var(--text-light);

}

#form-suggestion-new-character-or-comics input[type="text"],
#form-suggestion-new-character-or-comics textarea,
#form-suggestion-new-character-or-comics input[type="text"] {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 2px solid var(--dark-gray);
  border-radius: 10px;
  background-color: var(--dark-gray);
  color: var(--text-light);
  font-size: 14px;
  transition: all 0.3s ease;
}

#suggestion-text {
  height: 120px;
  ;
  resize: none;
}

#form-suggestion-new-character-or-comics input[type="submit"] {
  background-color: var(--accent-red);
  border: none;
  color: var(--text-light);
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

#form-suggestion-new-character-or-comics input[type="submit"]:hover {
  background-color: var(--accent-red-dark);
  transform: scale(1.05);
}

#form-suggestion-new-character-or-comics input[type="text"]:focus,
#form-suggestion-new-character-or-comics textarea:focus {
  border-color: var(--accent-red);
  box-shadow: 0 0 8px var(--accent-red), 0 0 16px var(--accent-red-dark);
  outline: none;
}

#form-suggestion-new-character-or-comics input::placeholder,
#form-suggestion-new-character-or-comics textarea::placeholder {
  color: var(--text-muted);

}

#section-form {
  display: flex;
  gap: 20px;
}




/*FOOTER*/
#footer-container {
  width: 100%;
  background-color: var(--dark-bg);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  position: relative;
}

.footer-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

/* COLUMNS */
#footer-container-left,
.footer-container-center,
.footer-container-rigth {
  display: flex;
  align-items: center;
  gap: 40px;
}


.footer-container-center-image-second-footer-two {
  display: none;
}

/* LEFT LOGO */
#footer-video {
  height: 100px;
  width: auto;
}

/* FOOTER CENTER */
#footer-container-center {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

/* NAV MENU */
.nav-menu-container-center ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 25px;
}

.nav-menu-container-center ul li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--text-light);
  font-size: 20px;
}

.nav-menu-container-center ul:hover li:hover a:hover {
  color: var(--accent-red);
  transition: 0.2s ease-in-out;
}

/* LOGO CENTER */
.footer-container-center-image-second-footer img {
  width: auto;
  margin-bottom: 10px;
}

/* RIGTH RED SOCIAL */
.footer-container-rigth-red-socials {
  display: flex;
  gap: 20px;
}

.footer-container-rigth-red-socials a {
  font-size: 40px;
  color: var(--text-light);
  transition: 0.2s ease-in-out;

}

.footer-container-rigth-red-socials a:hover {
  transform: scale(1.15);
  color: var(--accent-red);
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 601px) and (max-width: 1200px) {
  #section-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-header-line-upper {
    width: 100%;
    height: auto;

  }

  .container-rigth-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    gap: 20px;
  }

  .main-header-line-upper-search {
    display: none;
  }

  .gotham-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .gotham-text,
  .gotham-image {
    width: 100%;
  }

  .gotham-image img {
    width: 100%;
    height: auto;
  }

  .character-card {
    width: 220px;
    height: 320px;
  }

  #commit-and-form {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }

  #form-suggestion-new-character-or-comics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
  }


  /* FOOTER - TABLET */
  #footer-container {
    height: auto;
    padding: 30px 0;
  }

  .footer-container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .footer-container-center-image-second-footer-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container-center-image-second-footer-two img {
    max-width: 120px;
    width: 100%;
    height: auto;
    display: block;

  }

  .footer-container-center-image-second-footer {
    display: none;
    justify-content: center;
    align-items: center;
  }

  #footer-container-left,
  .footer-container-center,
  .footer-container-rigth {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* GIF FOOTER */
  #footer-video {
    display: none;
  }

  .nav-menu-container-center ul {
    gap: 15px;
    flex-wrap: wrap;
  }

  .footer-container-rigth-red-socials a {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    font-size: 32px;

  }




}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-header-line-upper {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;

  }

  .main-header-line-upper-log {
    margin-left: 0;
    justify-content: flex-start;
  }

  .main-header-line-upper-logo {
    padding-right: 60px;

  }




  .main-header-line-upper-search {
    display: none;
  }

  .main-header-line-lower-content a {
    display: none;
  }




  .menu-icon {
    display: block;
    margin-left: 0;

  }

  .main-header-line-lower {
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }

  .container-rigth-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    gap: 20px;
  }





  #form-suggestion-new-character-or-comics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: 25px;
    transition: all 0.3s ease;
  }

  .menu-links {
    display: none;
    flex-direction: column;
    background-color: var(--medium-gray);
    width: 100%;
    background: var(--dark-bg);
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10001;
    padding: 0;
    overflow: visible;
  }

  .main-header-line-lower {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    z-index: 10000;
  }


  .menu-links a {
    display: block;
    padding: 10px;
    color: var(--text-light);
    text-decoration: none;
    border-top: 1px solid var(--medium-gray);
  }

  .menu-links a:hover {
    background-color: var(--text-muted);
  }

  .menu-links.show {
    display: flex;
  }

  .character-card {
    max-width: 160px;
    height: 260px;
  }

  #commit-and-form {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }


  #gotham-city {
    min-height: 100vh;

  }

  .image-gotham img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .commit-card,
  #form-suggestion-new-character-or-comics {
    width: 100%;
  }


  /* FOOTER - MOBILE */
  #footer-container {
    height: auto;
    padding: 0 0;
  }



  .footer-container {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .footer-container-center-image-second-footer-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-container-center-image-second-footer {
    display: none;
    justify-content: center;
    align-items: center;
  }

  .footer-container-center-image-second-footer img {
    max-width: 120px;
    width: 100%;
    height: auto;
    display: block;
  }

  #footer-container-left,
  .footer-container-center,
  .footer-container-rigth {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* GIF FOOTER */
  #footer-video {
    display: none;
  }

  .nav-menu-container-center ul {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-container-rigth-red-socials a {
    font-size: 25px;
  }



}